<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Information about the project and me as a developer placeholder.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex">
      <a href="/" class="navbar-brand d-flex">
        <strong>MovieBuff</strong>
      </a>
      {% if login_data is not defined or login_data.username %}
        <a href="/gdisconnect" class="btn btn-info" role="button">Logout</a>
      {% elif 'username' not in login_data  %}
        <a href="/login" class="btn btn-info" role="button">Login</a>
      {% endif %}
    </div>
  </div>
</header>