<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<title>MovieLog</title>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/new_form.css') }}" rel="stylesheet">
</head>

  <body class="text-center">
    <form action="#" method="POST" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Woot.  Let's add your new movie.</h1>

      <label for="name" class="sr-only">Movie name</label>
      <input type="text" name="name" id="name" class="form-control" placeholder="Movie name" required autofocus>
       </br>
       <label for="desc" class="sr-only">Description</label>
      <textarea name="desc" id="desc" class="form-control" placeholder="Movie description" required autofocus></textarea>
        </br>
       <label for="desc" class="sr-only">Description</label>
      <input type="url" name="url" id="url" class="form-control" placeholder="Direct image URL (Must be PNG or JPG)" required autofocus>

    </br>
      <button id="submit-btn" class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
      <p class="mt-5 mb-3 text-muted">&copy; MovieLog, 2019.</p>
    </form>
  </body>
    <span id="alert" class="alert alert-danger fixed-bottom" role="alert"></span>
</html>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $("#alert").hide();
    $("form").on("submit", function(event) {
        const validExtensions = ['jpg', 'jpeg', 'png'];
        let value = $("#url").val();

        let substring = value.substring(
            value.lastIndexOf(".") + 1,
            value.length
        );
        const includes = validExtensions.includes(substring);

        if (includes) {
            return;
        }

        $("#submit-btn").prop('disabled', true);
        $( "span" ).text( "Invalid link provided, must end with .png, .jpg or .jpeg extension" ).show().fadeOut( 5000 );
        setTimeout(function() {
            $("#submit-btn").prop('disabled', false);
        }, 5000);

        event.preventDefault();
    });
</script>